.App {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.calculatorFrame{
  width: 400px;
  height:500px;
  border-radius: 20px;
  border:solid black 10px;
  background-color: red;
}
.screen{
  height:20%;
  display: flex;
}
.buttonPanel{
  height: 80%;
  background-color: blue;
}
